/*
 * myStyles.css - style sheet for LayoutSansTears.java JavaFX layout example
 */

#footer {
  -fx-border-color: grey;
  -fx-border-width: 1;
  
  /* TO DO: Insert a property and value that will give the interior of
     the layout container a padding of 5 pixels on every side */
  
}

#app-title {
  -fx-font-size: 40pt;
  -fx-font-weight: normal;
  -fx-text-fill: grey;
}
